* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #f3bd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-77777: #777777;
  --color-1c1c1b: #1c1c1b;
}
html,
body {
  overflow-x: hidden;
}

body {
  /* font-family: 'Playfair Display', serif; */
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}
.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}

.button {
  background: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 15px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.button:hover {
  background: var(--color-febd69);
  color: var(--color-131921);
}

.card-wrapper {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

.section-heading {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

/* -------------------Header Start -------------------*/

.header-top-strip {
  border-bottom: 1px solid var(--color-3b4149);
  background: var(--color-131921);
}

.header-upper {
  background: var(--color-131921);
}
.header-upper .input-group-text {
  background: var(--color-febd69);
}

.header-bottom {
  background: var(--color-232f3e);
}
.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.header-bottom .dropdown button:focus {
  box-shadow: none;
}
.header-bottom .dropdown-menu {
  background-color: var(--color-232f3e);
  width: 100%;
  transform: translate3d(0px, 50px, 0px) !important;
}
.header-bottom .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}
.header-bottom .dropdown-item:hover {
  background: transparent;
  color: var(--color-febd69) !important;
}

/* -------------------Header End -------------------*/

/* -------------------Footer Start -------------------*/

footer {
  background: var(--color-232f3e);
  color: white;
}
footer section:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .input-group-text {
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
}
footer .footer-link a {
  color: white;
}
footer .social_icons a {
  color: white;
}

/* -------------------Footer End -------------------*/

/* -------------------Home Start-------------------*/

/* Home Wrapper 1 */
.main-banner-content {
  top: 10%;
  left: 10%;
  z-index: 10;
}
.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.main-banner-content h5 {
  font-size: 52px;
  line-height: 54px;
  letter-spacing: 0.2px;
  font-weight: 600;
  text-transform: none;
}
.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4px;
  color: var(--color-131921);
}

.small-banner-content {
  top: 10%;
  left: 10%;
  z-index: 10;
}
.small-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.small-banner-content h5 {
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 0.2px;
  font-weight: 600;
  text-transform: none;
}
.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4px;
  color: var(--color-131921);
}
.small-banner {
  width: 49%;
}
/* Home Wrapper 1 */

/* Home Wrapper 2 */

.home-wrapper-2 {
  background-color: var(--color-f5f5f7);
}

/* Home Wrapper 2 */

/* Category  */

.categories {
  background: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
.categories > div {
  width: 24%;
  padding: 10px 20px 10px 20px;
}

.categories > div > div {
  width: 90%;
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
  border-bottom: 1px solid var(--color-ededed);
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3) {
  border-right: 1px solid var(--color-ededed);
}
.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7) {
  border-right: 1px solid var(--color-ededed);
}

/* Category  */

/* -------------------Home End-------------------*/

/* Blog Start */

.blog-card {
  background-color: white;
  border-radius: 10px;
}
.blog-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-content {
  padding: 20px;
  padding: 15px;
}
.blog-content .date {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-77777);
  padding: 0;
}
.blog-content h5 {
  font-size: 18px;
  color: var(--color-131921);
}
.blog-content p.desc {
  font-size: 13px;
  line-height: 22px;
  color: var(--color-77777);
}
/* Blog End */

/* Product Start */
.product-card {
  padding: 20px;
  background: white;
  box-shadow: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.product-card .product-image {
  height: 270px;
}
.product-card .product-image img {
  object-fit: contain;
}
.product-card .product-details h6 {
  color: var(--color-bf4800);
  font-size: 14px;
}
.product-card .product-details h5 {
  font-size: 15px;
  color: var(--color-131921);
}
.product-card .product-details p.title {
  font-size: 16px;
  color: var(--color-1c1c1b);
}
.product-card .product-details p.price {
  font-size: 16px;
  color: var(--color-1c1c1b);
}
.action-bar {
  top: 10%;
  right: -40px;
  transition: all 300ms ease-in-out;
}
.product-card:hover .action-bar {
  right: 10px;
}

.product-card .product-image > img:last-child {
  display: none;
}
.product-card:hover .product-image > img:nth-child(1) {
  display: none;
}
.product-card:hover .product-image > img:nth-child(2) {
  display: block;
}

.wishlist-icon {
  top: 3%;
  right: 11px;
}
/* Product End */

/* Special Product Start */
.special-product-card {
  padding: 20px;
  background: white;
  border-radius: 10px;
}
/* Special Product End */
