@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .grid-rows-7 {
    grid-template-rows: repeat(7, minmax(0, 1fr));
  }

  .row-span-7 {
    grid-row: span 7 / span 7;
  }
  .justify-self-flex-start {
    justify-self: flex-start;
  }

  .share {
    margin-top: 1rem;
    display: flex;
    gap: 10px;
  }

  .share > svg {
    border-radius: 50%;
    transition: transform 0.1s ease;
  }
  .share > svg:hover {
    transform: scale(1.1);
  }
}

@import url(./heroSwiper.css);
@import url(./offerSwiper.css);
@import url(./effectSwiper.css);
@import url(./flashSwiper.css);
@import url(./productSwiper.css);
