.heroSwiper {
  width: 100%;
  height: 100%;
}

.heroSwiper > .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroSwiper > .swiper-slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroSwiper.swiper {
  margin-left: auto;
  margin-right: auto;
}

.heroSwiper > .swiper-pagination-bullet {
  width: 9px !important;
  border-radius: 5px !important;
}

.heroSwiper > .swiper-pagination-bullet-active {
  background: rgb(59, 130, 246) !important;
  width: 13px !important;
}

.heroSwiper > .swiper-button-prev,
.heroSwiper > .swiper-button-next {
  color: #fff !important;
  transform: scale(0.5) !important;
  width: 50px !important;
  height: 80px !important;
  transition: 0.2s;
  background: #a0a0a0 !important;
}

.heroSwiper > .swiper-button-prev {
  left: -13px !important;
}
.heroSwiper > .swiper-button-next {
  right: -13px !important;
}
